.informations__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.informations__image {
    height: 381px;
    width: 312px;
}

.informations__image--sectors {
    width: 312px;
    height: 239px;
}

.informations__title {
    font-family: var(--text);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #444;
    line-height: 38px;
}

.informations__text {
    font-family: var(--text);
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    width: 86vw;
    margin: 1.5rem auto;
}

.informations__image--home {
    background-image: url("../../assets/images/programodromo.png");
    background-size: cover;
}

.informations__image--experience-1 {
    background-image: url("../../assets/images/experience/image1-mobile.png");
    background-size: cover;
}

.informations__image--experience-2 {
    background-image: url("../../assets/images/experience/image2-mobile.png");
    background-size: cover;
}

.informations__image--experience-3 {
    background-image: url("../../assets/images/experience/image3-mobile.png");
    background-size: cover;
}

.informations__image--sectors-1 {
    background-image: url("../../assets/images/sectors/image1-mobile.png");
    background-size: cover;
}

.informations__image--sectors-2 {
    background-image: url("../../assets/images/sectors/image2-mobile.png");
    background-size: cover;
}

.informations__image--sectors-3 {
    background-image: url("../../assets/images/sectors/image3-mobile.png");
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .informations__image {
        height: 381px;
        width: 609px;
    }
    .informations__image--home {
        background-image: url("../../assets/images/programodromo-tablet.png");
        background-size: cover;
    }

    .informations__image--experience-1 {
        background-image: url("../../assets/images/experience/image1-tablet.png");
        background-size: cover;
    }

    .informations__image--experience-2 {
        background-image: url("../../assets/images/experience/image2-tablet.png");
        background-size: cover;
    }

    .informations__image--experience-3 {
        background-image: url("../../assets/images/experience/image3-tablet.png");
        background-size: cover;
    }

    .informations__image--sectors {
        width: 382.4px;
        height: 239px;
    }

    .informations__image--sectors-1 {
        background-image: url("../../assets/images/sectors/image1-tablet.png");
        background-size: cover;
    }

    .informations__image--sectors-2 {
        background-image: url("../../assets/images/sectors/image2-tablet.png");
        background-size: cover;
    }

    .informations__image--sectors-3 {
        background-image: url("../../assets/images/sectors/image3-tablet.png");
        background-size: cover;
    }

    .image {
        display: none;
    }

    .informations__title {
        width: 60%;
        margin: auto;
    }

    .informations__text {
        width: 84vw;
    }
}

@media screen and (min-width: 1440px) {
    .informations__container {
        flex-direction: row;
        padding: 4rem 2rem 2rem 2rem;
    }

    .informations__container:nth-child(2) {
        flex-direction: row-reverse;
    }

    .informations__container--sectors {
        display: flex;
        flex-direction: column;
    }

    .informations__container--sectors:nth-child(2) {
        flex-direction: column;
        position: relative;
        top: 9rem;
    }

    .informations__container--sectors .informations__text {
        width: 27vw;
    }

    .informations__container--sectors .informations__info {
        width: 100%;
    }

    .informations__image {
        width: 100%;
        height: 381px;
        width: 609px;
    }

    .informations__image--sectors {
        width: 382.4px;
        height: 239px;
    }

    .informations__info {
        width: 50%;
    }

    .informations__title {
        width: 80%;
    }

    .informations__text {
        width: 37vw;
    }

    .image {
        display: none;
    }
}
