.show__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.show__date {
    font-family: var(--typography);
    font-size: 32px;
    background: #df9010;
    padding: 16px;
    color: white;
    min-width: 80%;
    max-width: 90%;
    margin: auto;
}

.show__band {
    display: block;
    color: #444;
    text-align: center;
    font-family: var(--text);
    line-height: 56.35px;
    margin: 1.5rem auto;
}

.show__band--1 {
    font-weight: 800;
    font-size: 48px;
    grid-column: 1/3;
}

.show__band--2,
.show__band--3,
.show__band--4,
.show__band--5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
}

.show__band--6,
.show__band--7,
.show__band--8,
.show__band--9 {
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
}

.show__band--10,
.show__band--11,
.show__band--12,
.show__band--13,
.show__band--14 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37.57px;
}

@media screen and (min-width: 768px) {
    .lines {
        display: flex;
        align-items: center;
    }

    .lines::before {
        content: "";
        display: inline-block;
        background: #df9010;
        height: 1px;
        width: 83.5px;
        flex-grow: 1;
        margin: 0 2rem 0 2.5rem;
    }

    .lines::after {
        content: "";
        display: inline-block;
        background: #df9010;
        height: 1px;
        width: 83.5px;
        flex-grow: 1;
        margin: 0 2.5rem 0 2rem;
    }

    .show__date {
        font-size: 48px;
        min-width: 40%;
        max-width: 80%;
    }

    .show__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1440px) {
    .lines::before {
        margin: 0 2rem 0 5rem;
    }
    .lines::after {
        margin: 0 5rem 0 2rem;
    }

    .show__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .show__band--1 {
        grid-column: 1/5;
    }
}
