.banner__container {
    max-width: 100%;
}

.banner__image--home,
.banner__image--experience,
.banner__image--sectors,
.banner__image--informations,
.banner__image--ticket,
.banner__image--user {
    background-size: cover;
    width: 100%;
    padding-top: 75%;
}

.banner__image--home {
    background-image: url("images/home/home-banner-mobile.png");
}

.banner__image--experience {
    background-image: url("images/experience/experience-banner-mobile.png");
}

.banner__image--sectors {
    background-image: url("images/sectors/sectors-banner-mobile.png");
}

.banner__image--informations {
    background-image: url("images/informations/informations-banner-mobile.png");
}

.banner__image--ticket {
    background-image: url("images/ticket/ticket-banner-mobile.png");
}

.banner__image--user {
    background-image: url("images/user/user-banner-mobile.png");
}

@media screen and (min-width: 768px) {
    .banner__image--home,
    .banner__image--experience,
    .banner__image--sectors,
    .banner__image--informations,
    .banner__image--ticket,
    .banner__image--user {
        padding-top: 50%;
    }

    .banner__image--home {
        background-image: url("images/home/home-banner-tablet.png");
    }

    .banner__image--experience {
        background-image: url("images/experience/experience-banner-tablet.png");
    }

    .banner__image--sectors {
        background-image: url("images/sectors/sectors-banner-tablet.png");
    }

    .banner__image--informations {
        background-image: url("images/informations/informations-banner-tablet.png");
    }

    .banner__image--ticket {
        background-image: url("images/ticket/ticket-banner-tablet.png");
    }

    .banner__image--user {
        background-image: url("images/user/user-banner-tablet.png");
    }
}

@media screen and (min-width: 1440px) {
    .banner__image--home,
    .banner__image--experience,
    .banner__image--sectors,
    .banner__image--informations,
    .banner__image--ticket,
    .banner__image--user {
        padding-top: 28.2634%;
    }

    .banner__image--home {
        background-image: url("images/home/home-banner.png");
    }

    .banner__image--experience {
        background-image: url("images/experience/experience-banner.png");
    }

    .banner__image--sectors {
        background-image: url("images/sectors/sectors-banner.png");
    }

    .banner__image--informations {
        background-image: url("images/informations/informations-banner.png");
    }

    .banner__image--ticket {
        background-image: url("images/ticket/ticket-banner.png");
    }

    .banner__image--user {
        background-image: url("images/user/user-banner.png");
    }
}
