.banner__container {
    max-width: 100%;
}

.banner__image {
    background-image: url("images/home-banner-mobile.png");
    background-size: cover;
    width: 100%;
    padding-top: 75%;
}

@media screen and (min-width: 768px) {
    .banner__image {
        background-image: url("images/home-banner-tablet.png");
        padding-top: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .banner__image {
        background-image: url("images/home-banner.png");
        padding-top: 28.2634%;
    }
}
