body {
    position: absolute;
}

.navbar {
    display: block;
    width: 193px;
    position: absolute;
    top: 13%;
    margin: auto;
    text-align: center;
    color: white;
    background: #2e7ba2;
    height: 243px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    animation: rollDown 0.3s ease-in-out;
    user-select: none;
}

.navbar__item {
    font-family: var(--text);
    font-size: 1.25rem;
    border-bottom: 1px solid white;
    font-weight: 700;
    width: auto;
    transition: 0.3s;
    cursor: pointer;
    padding: 0;
}

.navbar__item a {
    display: block;
    padding: 1em;
    width: 84%;
}

.navbar__item:hover {
    background: #1e5068;
}

.navbar__item:last-child {
    border: none;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: block;
        position: initial;
        height: 1rem;
        width: auto;
        animation: none;
        padding: 1.5rem;
    }
    .navbar__list {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        top: -0.8rem;
        right: 1rem;
    }

    .navbar__item {
        font-family: var(--text);
        margin: 0.5rem;
        border: none;
        padding: 0;
    }

    .navbar__item:hover {
        text-decoration: underline;
        background: none;
    }

    .navbar__item a {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .navbar {
        display: flex;
    }

    .navbar__list {
        width: 83vw;
        justify-content: flex-end;
        position: initial;
    }

    .navbar__item {
        margin: 0;
    }

    .navbar__item:hover {
        text-decoration: none;
    }

    .link {
        background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, white 50%);
        background-size: 200% 100%;
        background-position: -100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .link:hover {
        background-position: 0;
    }

    /* .link {
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 #54b3d6;
    }

    .link:hover {
        color: #2e7ba2;
        box-shadow: inset 100px 0 0 0 #54b3d6;
    } */
}

@keyframes rollDown {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 243px;
        opacity: 1;
    }
}
