.container {
    background: linear-gradient(180deg, #bfdae6 0%, #fcf0dd 50%, #facf9d 100%);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.image {
    background-image: url("images/imagem.png");
    background-size: cover;
    width: 100%;
    padding-top: 94%;
    transform: scale(1.1);
    margin: 2rem auto 0 auto;
}
