.container {
    background: linear-gradient(180deg, #bfdae6 0%, #fcf0dd 50%, #facf9d 100%);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container--user {
    background: #fcf0dd;
    height: 125vh;
}

@media screen and (min-width: 768px) {
    .container--user {
        height: 105vh;
    }
}

@media screen and (min-width: 1440px) {
    .container--user {
        height: 77vh;
    }
}
