.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #bfdae6 0%, #fcf0dd 50%, #facf9d 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    width: 95%;
    margin: auto;
    font-family: var(--text);
    color: #444444;
    text-align: center;
}

.card__logos {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.card__info {
    padding: 1rem 0.5rem;
}

.card__username {
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    margin-bottom: 1rem;
}

.card__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

@media screen and (min-width: 768px) {
    .card__info {
        padding: 2rem 0.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .card__container {
        width: 70%;
    }

    .teste {
        display: flex;
        width: 87%;
        align-items: center;
        text-align: left;
        gap: 3rem;
    }

    .card__info {
        padding: 2rem 0.5rem;
    }
}
