.sectors__image {
    background-image: url("images/sectors-image-mobile.png");
    background-size: cover;
    width: 100%;
    padding-top: 88.4%;
}

.sectors__subtitle {
    font-family: var(--text);
    font-weight: 700;
    color: #444;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    padding-left: 1rem;
}

.sectors__list {
    margin-top: 2rem;
}

.sector__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.sector__item li {
    font-family: var(--text);
    font-size: 20px;
    font-weight: 500;
    color: #444;
}

.sector__box {
    display: inline-block;
    height: 32px;
    width: 32px;
}

.sectors__details {
    font-family: var(--text);
    font-weight: 700;
    font-size: 32px;
    color: #444;
    text-align: center;
    margin: 1.5rem auto;
}
/* 
.sectors__informations {

} */

@media screen and (min-width: 768px) {
    .sectors__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .sectors__image {
        background-image: url("images/sectors-image-tablet.png");
        background-size: cover;
        width: 648px;
        height: 609px;
        padding: 0;
    }

    .sectors__subtitle {
        font-size: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .sectors__section {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        width: 70%;
        margin-left: 11%;
        padding: 1rem 0;
    }

    .sectors__details {
        margin: 0;
    }

    .sectors__informations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 5rem;
    }
}
