.input__container {
    display: flex;
    flex-direction: column;
}

.input__label,
.input {
    font-family: var(--text);
}

.input__label {
    font-size: 32px;
    font-weight: 700;
    color: #444;
    margin: 2rem 0 0.8rem 0;
    max-width: 95%;
}

.input {
    font-size: 20px;
    font-weight: 500;
    padding: 1rem;
    color: #444;
}
