:root {
  --typography: "Calistoga", cursive;
  --text: "Raleway", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--text);
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
