.shows__container {
    margin: auto;
    text-align: center;
}

.shows__title {
    font-family: var(--typography);
    font-size: 48px;
    color: #444;
    margin: 2rem auto 6rem auto;
}

.shows__days {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media screen and (min-width: 768px) {
    .shows__title {
        font-size: 64px;
        margin: 5.2rem auto;
    }
}
