.information {
    margin: 1.5rem auto;
    user-select: none;
}

.information:last-child {
    margin: 0 auto;
}

.information__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2e7ba2;
    color: white;
    padding: 0.5rem;
}

.information__title,
.information__text {
    font-family: var(--text);
    padding: 1rem;
}

.information__title {
    font-weight: 700;
    font-size: 32px;
    width: 100%;
}

.dropdown__icon {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.information__textWrapper {
    overflow: hidden;
    max-height: 0;
}

.information__textWrapper:has(> p) {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}

.information__text {
    background: #c8deef;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.information__text--active {
    display: block;
}

@media screen and (min-width: 768px) {
    .information {
        max-width: 85%;
    }

    .dropdown__icon {
        border-radius: 100%;
    }

    .dropdown__icon:hover {
        background: #2e7ba2;
    }
}

@media screen and (min-width: 1440px) {
    .information {
        max-width: 70%;
    }

    .dropdown__icon {
        border-radius: 50%;
    }
    .dropdown__icon:hover {
        background: #45a1cf6c;
    }
}
