.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: var(--text);
    font-size: 20px;
    font-weight: 700;
    color: white;
    background: #2e7ba2;
    padding: 8px 16px;
    height: 56px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 4px 4px 0px #444444;
    transition: 0.3s ease;
    cursor: pointer;
    margin: auto;
}

.button:hover {
    background: #519ec5;
}

@media screen and (min-width: 768px) {
    .button {
        width: auto;
    }
}
