.header {
    display: flex;
    background-color: #2e7ba2;
    justify-content: space-around;
    align-items: center;
    height: 128px;
}

.header__menu {
    display: block;
    cursor: pointer;
}

.header__menu--active {
    opacity: 0.6;
}

.menu__wrapper {
    display: none;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: column;
        padding: 2rem 3.75rem;
        justify-content: space-between;
    }

    .header__menu {
        display: none;
    }

    .menu__wrapper {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 120px;
    }

    .header__logo {
        position: absolute;
    }
}
